@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Damion');
@import 'typography';
@import 'variables';
@import 'comments';
@import 'img';

body {
	margin-bottom: 90px;
}

footer.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}

#searchform {
	width: 444px;

	.my-sm-0 {
		height: 29px;
	}
	.dashicons {
    font-size: 16px;
	}
	.btn-outline-info {
		background-color: $button-dark;
		border-color: $button;
	}
	.btn-outline-info:hover {
		background-color: $button;
		border-color: $button-dark;
	}
}

h1, h2, h3, h4, h5, a, p {
	color: $fonts;
}

a:hover {
	text-decoration: none;
	color: $button-dark;
}

.blog,
.archive {
	article {
		margin: 1.6em 0;
	}
}

.btn-primary {
	background-color: $button;
	border-color: $button-dark;

	&:hover {
		background-color: $button-dark;
		border-color: $button;
  }
}

body {
	background-color: $orange;
}

article {

	&.page {
		header {
			.the-title {
				text-align: center;
			}
		}
	}

	header{
		margin-bottom: 1.5em;

		.the-title {
			line-height: 135%;
		}
	}

	.main.the-content {
		line-height: 180%;
		text-align: justify;
	}
}

.site-footer {
	width: 100%;
	margin-top: 2em;
	padding: 1em 0;
	background-color: $background;
}

.sidebar {
	background-color: $lighter;
	border-radius: 10px;
	border: 1px solid $button-dark;

	.widget {
		border-bottom: 2px solid $button-dark;
		margin: 1.5em 0;
		padding-bottom: 1.5em;

		&:first-child {
			margin-top: 2em;
			padding-top: 1em;
		}

		&:last-child {
			border-bottom: 0;
		}

		h2 {
			font-size: 1.3em;
			margin-bottom: 0.75em; 
		}
	}
}

.tagcloud, .widgettitle {
	text-align: center;
	
	a {
		font-size: 12pt !important;
		display: grid;
		padding: 1px;
	} 
}

.dropdown-menu, .depth_0 {
	text-align: center;
	border-radius: 4px;
	background-color: $orange;
	border: 3px solid $menudrop;
}

.navbar, .navbar-toggleable-md, .navbar-light {
	height: 6em;
	margin-bottom: 2em;
	background-color: rgba(255,255,255,0.5);
}

.navbar-brand {
	position: absolute;
	font-size: 3em;
}

.navbar-nav {
	font-size: 1.4em;
	padding-right: 20px;
}

.site-footer {
	background-color: rgba(255,255,255,0.5);
}

.logged-in-as, .reply {
	display: none;
}

.edit-link {
	display: none;
}