$background: #7E8F7C;
$container: #FDF3E7;
$sidebar: #44818d;
$lines: #69d28b;
$meny: #24434f;
$fonts: #fefbdc;

$orange: #f9644c;

$lighter: darken($orange,10%);
$button: $lighter;
$button-dark: darken($button,16%);
$menudrop: darken($orange,20%);